* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------------------------- */

#campo {
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  background-color: antiquewhite;
}

.quadrato {
  width: calc(50vw / 10);
  height: calc(50vw / 10);
  background-color: aqua;
  float: left;
}

.cella {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid grey;
}

.red {
  background-color: red;
}

.green {
  background-color: limegreen;
}
